@charset "UTF-8";
@font-face {
  font-family: "Stolzl";
  src: url("../fonts/Stolzl Thin.eot");
  src: local("☺"), url("../fonts/Stolzl Thin.woff") format("woff"), url("../fonts/Stolzl Thin.ttf") format("truetype"), url("../fonts/Stolzl Thin.svg") format("svg");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Stolzl";
  src: url("../fonts/Stolzl Book.eot");
  src: local("☺"), url("../fonts/Stolzl Book.woff") format("woff"), url("../fonts/Stolzl Book.ttf") format("truetype"), url("../fonts/Stolzl Thin.svg") format("svg");
  font-weight: 400;
  font-style: normal;
}
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 16px;
  font-family: Stolzl, sans-serif;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
  font-family: inherit;
  color: inherit;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 500;
}

.container {
  max-width: 1006px;
  padding: 0 15px;
  margin: 0 auto;
  position: relative;
}

.dots {
  position: absolute;
  top: 50%;
  right: 45px;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
}
.dots__item {
  display: inline-block;
  width: 12px;
  height: 12px;
  background-color: #424556;
  border-radius: 50%;
  transition: all 0.2s linear;
  cursor: pointer;
}
.dots__item:not(:last-child) {
  margin-bottom: 2px;
}
.dots__item:hover, .dots__item.active {
  border: 2px solid #424556;
  background-color: transparent;
}
@media screen and (max-width: 991px) {
  .dots {
    display: none;
  }
}

.section {
  display: flex;
}
.section__img {
  flex: 0 0 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.section__content {
  flex: 0 0 50%;
  padding-left: 43px;
  padding-top: 93px;
}
.section__title {
  color: #101334;
  font-size: 37px;
  font-weight: 400;
  margin-bottom: 62px;
}
.section__text {
  /* Style for "We are eng" */
  color: #555c6f;
  font-family: Stolzl;
  font-size: 21px;
  font-weight: 400;
}
@media screen and (max-width: 991px) {
  .section__title {
    font-size: 32px;
  }
  .section__text {
    font-size: 18px;
  }
}
@media screen and (max-width: 767px) {
  .section {
    flex-direction: column;
  }
  .section__title {
    margin-bottom: 54px;
    font-size: 26px;
  }
  .section__img {
    order: 2;
    padding-top: 165px;
    padding-bottom: 165px;
    flex-basis: 100%;
  }
  .section__content {
    padding-left: 15px;
    padding-top: 43px;
    flex-basis: 100%;
  }
}
@media screen and (max-width: 575px) {
  .section {
    flex-direction: column;
  }
  .section__title {
    margin-bottom: 46px;
    font-size: 24px;
  }
  .section__text {
    font-size: 16px;
  }
  .section__img {
    order: 2;
    padding-top: 165px;
    padding-bottom: 165px;
    flex-basis: 100%;
  }
  .section__content {
    padding-left: 15px;
    padding-top: 43px;
    flex-basis: 100%;
  }
}

.header {
  background: #f2f3f3 url("../img/header-bg.jpg") center/cover no-repeat;
  padding-top: 32px;
  padding-bottom: 392px;
  height: 100vh;
  position: relative;
}
.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__title {
  margin-top: 132px;
  color: #555c6f;
  font-size: 37px;
  font-weight: 400;
  text-align: center;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  line-height: 50px;
}
@media screen and (max-width: 991px) {
  .header {
    padding-top: 22px;
    padding-bottom: 202px;
  }
  .header__title {
    font-size: 32px;
    line-height: 40px;
  }
}
@media screen and (max-width: 767px) {
  .header {
    padding-top: 16px;
    padding-bottom: 152px;
  }
}

.logo {
  color: #555c6f;
  font-size: 25px;
  font-weight: 100;
}

.menu__list {
  display: flex;
  align-items: center;
}
.menu__list li:not(:first-child) {
  margin-left: 16px;
}
.menu__link {
  color: #555c6f;
  font-size: 17px;
  font-weight: 100;
}
.menu-burger {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 20px;
  height: 20px;
  background-color: transparent;
}
.menu-burger__line {
  display: block;
  width: 100%;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.5);
}
@media screen and (max-width: 767px) {
  .menu {
    display: none;
    position: absolute;
    top: -16px;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #fff;
    padding-top: 20px;
  }
  .menu__list {
    flex-direction: column;
    align-items: center;
  }
  .menu__list li {
    margin-right: 0;
    margin-bottom: 20px;
    font-size: 20px;
  }
  .menu__link {
    /* Style for "About us" */
    font-size: 20px;
  }
  .menu-burger {
    display: flex;
  }
  .menu-burger.active {
    position: relative;
    z-index: 5;
    transform: rotate(90deg);
  }
}

.about {
  position: relative;
  background-color: #e5e5e5;
}
.about .section__img {
  background-image: url("../img/about.jpg");
}
.about .section__content {
  max-width: 451px;
  padding-bottom: 159px;
}
.about__text {
  padding-right: 15px;
}
.about__text:not(:last-child) {
  margin-bottom: 30px;
}
@media screen and (max-width: 767px) {
  .about .section__title {
    text-align: center;
  }
  .about .section__content {
    max-width: 100%;
    padding-bottom: 43px;
  }
  .about__text {
    margin-bottom: 15px;
  }
}

.services {
  position: relative;
  background-color: #101920;
}
.services .section__img {
  background-image: url("../img/services.jpg");
}
.services .section__title {
  color: #555c6f;
}
.services__content {
  order: -1;
  display: flex;
  padding-bottom: 152px;
  flex-direction: column;
  align-items: flex-end;
  padding-right: 43px;
}
.services__list {
  list-style-position: inside;
}
@media screen and (max-width: 767px) {
  .services__content {
    align-items: center;
    padding-bottom: 43px;
  }
}

.price {
  background-color: #000000;
  position: relative;
}
.price .section__img {
  background-image: url("../img/contact.jpg");
}
.price .section__title {
  color: #ffffff;
}
.price__form {
  padding-bottom: 134px;
  padding-right: 15px;
}
.price__form form {
  display: flex;
  flex-direction: column;
}
.price__input, .price textarea {
  border-bottom: 1px solid #ffffff;
  background-color: transparent;
  padding: 15px 8px;
  max-width: 448px;
  color: #ffffff;
  margin-bottom: 17px;
}
.price__input::placeholder, .price textarea::placeholder {
  color: #ffffff;
  font-size: 12px;
}
.price textarea {
  margin-bottom: 35px;
}
.price__btn {
  display: inline-block;
  align-self: flex-start;
  color: #f4feff;
  font-size: 12px;
  font-weight: 400;
  border: 2px solid #f4feff;
  background-color: transparent;
  padding: 13px 24px;
}
@media screen and (max-width: 767px) {
  .price .section__title {
    text-align: center;
  }
  .price__form {
    padding-bottom: 43px;
  }
  .price__input, .price textarea {
    max-width: 100%;
  }
  .price textarea {
    margin-bottom: 15px;
  }
  .price__btn {
    align-self: center;
  }
}

.footer {
  position: relative;
  background-color: #0f1116;
  color: #555c6f;
}
.footer .section__title {
  text-align: center;
  color: #555c6f;
  font-weight: 100;
  padding-bottom: 90px;
}
.footer__body {
  width: 100%;
  display: flex;
  padding-top: 56px;
  padding-bottom: 39px;
}
.footer__center {
  flex: 0 0 33.3333%;
}
.footer__column {
  flex: 0 0 33.3333%;
  align-self: flex-end;
  line-height: 20px;
}
.footer__column:not(:last-child) {
  text-align: right;
}
.footer__bottom {
  border-top: 1px solid #242529;
  padding: 20px 0 40px;
  display: flex;
  justify-content: space-between;
}
.footer__logo {
  font-size: 17px;
  font-weight: 100;
}
.footer__copyright {
  font-size: 8px;
  font-weight: 100;
}
@media screen and (max-width: 767px) {
  .footer .section__title {
    text-align: center;
    color: #555c6f;
    font-weight: 100;
    padding-bottom: 0;
  }
  .footer__body {
    flex-direction: column;
    padding-top: 43px;
    padding-bottom: 33px;
  }
  .footer__center {
    order: -1;
  }
  .footer__column {
    align-self: center;
    margin-bottom: 10px;
    text-align: center;
  }
  .footer__column:first-child {
    text-align: center;
  }
}
@media screen and (max-width: 575px) {
  .footer__bottom {
    border-top: 1px solid #242529;
    padding: 10px 0 20px;
    flex-direction: column;
    align-items: center;
  }
  .footer__bottom div {
    margin-bottom: 10px;
  }
}